<!DOCTYPE html>
<html lang="en">
  <head>
    <link rel="stylesheet" href="/css/form-style.css" />
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <script defer src="/js/forms.js"></script>
  </head>
  <body>
    <div>
      <form class="container" action="formdata" method="post">
        <div id="sender">
          <h1>Sender Details</h1>
          <img
            id="previewImage"
            alt="Preview"
            style="max-width: 400px; max-height: 400px"
          />
          <br />
          <input type="file" id="imageInput" />

          <br />
          <br />
          <label id="senderFirst" for="senderFirst">First name:</label>
          <label id="senderLast" for="senderLast">Last name:</label>
          <br />
          <input type="text" name="senderFirst" id="sendFirstInput" />
          <input type="text" name="senderLast" id="sendLastInput" />
        </div>
        <div class="vl"></div>
        <div id="recipient">
          <h1>Recipient Details</h1>
          <label id="recipientFirst" for="recipientFirst">First name:</label>
          <label id="recipientLast" for="recipientLast">Last name:</label>
          <br />
          <input type="text" name="recipientFirst" id="recFirstInput" />
          <input type="text" name="recipientLast" id="reclastInput" />
          <br />
          <br />
          <label for="message">Message:</label>
          <br />
          <input type="text" name="message" id="message" />
          <br />
          <p>Notify recipient:</p>
          <input type="radio" id="emailButton" name="notify" value="Email" />
          <label for="emailButton">Email</label>
          <input type="radio" id="sms" name="notify" value="SMS" />
          <label for="sms">SMS</label>
          <input
            type="radio"
            id="do_not_notify"
            name="notify"
            value="Do not notify"
          />
          <label for="do_not_notify">Do not notify</label>
          <br />
          <br />
          <label for="email">Email:</label>
          <label for="phone">Phone Number:</label>
          <br />
          <input type="email" name="email" id="email" />

          <input
            type="tel"
            id="phone"
            name="phone"
            pattern="[0-9]{3}-[0-9]{2}-[0-9]{3}"
          />
        </div>
        <div id="payment">
          <h1>Payment Details</h1>
          <label id="cardType" for="cardType">Card Type: </label>
          <label id="cardNumber" for="cardNumber">Card Number:</label>
          <br />
          <select name="cardType">
            <option value="visa">Visa</option>
            <option value="amex">American Express</option>
            <option value="mastercard">Mastercard</option>
          </select>

          <input type="text" name="cardNumber" />
          <br />
          <label for="expiration">Expiration:</label>
          <label for="ccv">CCV:</label>
          <label for="amount">Amount ($):</label>
          <br />
          <input type="date" name="expiration" id="expiration" />
          <input type="password" name="ccv" id="ccv" />
          <input type="number" name="amount" id="amount" />
          <br />
          <br />
          <input type="checkbox" name="agreement" id="agreement" />
          <label for="agreement">I agree to the Terms and Conditions</label>
          <br />
          <br />
          <input type="submit" name="submit" id="submit" />
        </div>
      </form>
    </div>
  </body>
</html>
