<!DOCTYPE html>
<html lang="en">
  <head>
    <link rel="stylesheet" href="css/form-style.css" />
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Pay Your Friends</title>
    <script defer src="js/forms.js"></script>
  </head>
  <body>
    <div>
      <form
        class="container"
        action="formdata"
        method="post"
        enctype="multipart/form-data"
      >
        <div id="sender">
          <h1>Sender Details</h1>
          <img
            id="previewImage"
            alt="Image Preview"
            style="max-width: 400px; max-height: 400px"
          />
          <br />
          <input name="imageInput" type="file" id="imageInput" required />

          <br />
          <br />
          <label id="senderFirst" for="sendFirstInput">First name:</label>
          <label id="senderLast" for="sendLastInput">Last name:</label>
          <br />
          <input
            type="text"
            name="sendFirstInput"
            id="sendFirstInput"
            required
          />
          <input type="text" name="sendLastInput" id="sendLastInput" required />
        </div>
        <div class="vl"></div>
        <div id="recipient">
          <h1>Recipient Details</h1>
          <label id="recipientFirst" for="recFirstInput">First name:</label>
          <label id="recipientLast" for="recLastInput">Last name:</label>
          <br />
          <input type="text" name="recFirstInput" id="recFirstInput" required />
          <input type="text" name="recLastInput" id="recLastInput" required />
          <br />
          <br />
          <label for="message">Message:</label>
          <br />
          <input type="text" name="message" id="message" minlength="10" />
          <br />
          <p>Notify recipient:</p>
          <input
            type="checkbox"
            id="emailButton"
            name="emailButton"
            value="Email"
          />
          <label for="emailButton">Email</label>
          <input type="checkbox" id="sms" name="sms" value="SMS" />
          <label for="sms">SMS</label>
          <input
            type="checkbox"
            id="do_not_notify"
            name="do_not_notify"
            value="Do not notify"
          />
          <label for="do_not_notify">Do not notify</label>
          <br />
          <br />
          <label for="emailInput" id="email">Email:</label>
          <label for="phoneInput" id="phone">Phone Number:</label>
          <br />
          <input type="email" name="emailInput" id="emailInput" />

          <input
            type="tel"
            id="phoneInput"
            name="phoneInput"
            placeholder="123-456-7890"
            pattern="[0-9]{3}[0-9]{3}[0-9]{4}"
          />
        </div>
        <div id="payment">
          <h1>Payment Details</h1>
          <label id="cardType" for="cardType">Card Type: </label>
          <label id="cardNumber" for="cardNumberInput">Card Number:</label>
          <br />
          <select name="cardType">
            <option value="visa">Visa</option>
            <option value="amex">American Express</option>
            <option value="mastercard">Mastercard</option>
          </select>

          <input
            id="cardNumberInput"
            type="text"
            name="cardNumber"
            pattern="[0-9]{4}-[0-9]{4}-[0-9]{4}-[0-9]{4}"
            placeholder="XXXX-XXXX-XXXX-XXXX"
            required
          />
          <br />
          <label for="expiration">Expiration:</label>
          <label for="ccv" id="ccvName">CCV:</label>
          <label for="amount" id="amountName">Amount ($):</label>
          <br />
          <input
            type="date"
            name="expiration"
            id="expiration"
            min="2023-10-14"
            required
          />
          <input type="password" name="ccv" id="ccv" required />
          <input type="number" name="amount" id="amount" required />
          <br />
          <br />
          <input type="checkbox" name="agreement" id="agreement" required />
          <label for="agreement">I agree to the Terms and Conditions</label>
          <br />
          <br />
          <input type="submit" name="submit" id="submit" />
        </div>
      </form>
    </div>
  </body>
</html>
