<!DOCTYPE html>
<html lang="en">
  <head>
    <link rel="stylesheet" href="/Homework3/static/css/form-style.css" />
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <script defer src="../static/js/forms.js"></script>
  </head>
  <body>
    <div class="container">
      <form action="form.html" method="post">
        <div id="sender">
          <h1>Sender Details</h1>
          <img
            id="previewImage"
            alt="Preview"
            style="max-width: 200px; max-height: 200px"
          />
          <br />
          <input type="file" id="imageInput" />

          <br />
          <br />
          <label for="senderFirst">First name:</label>
          <input type="text" name="senderFirst" id="senderFirst" />
          <label for="senderLast">Last name:</label>
          <input type="text" name="senderLast" id="senderLast" />
        </div>
        <div id="recipient">
          <h1>Recipient Details</h1>
          <label for="recipientFirst">First name:</label>
          <input type="text" name="recipientFirst" id="recipientFirst" />
          <label for="recipientLast">Last name:</label>
          <input type="text" name="recipientLast" id="recipientLast" />
          <br />
          <label for="message">Message</label>
          <input type="text" name="message" id="message" />
          <br />
          <p>Notify recipient:</p>
          <input type="radio" id="emailButton" name="notify" value="Email" />
          <label for="emailButton">Email</label>
          <input type="radio" id="sms" name="notify" value="SMS" />
          <label for="sms">SMS</label>
          <input
            type="radio"
            id="do_not_notify"
            name="notify"
            value="Do not notify"
          />
          <label for="do_not_notify">Do not notify</label>
          <br />
          <br />
          <label for="email">Email:</label>
          <input type="email" name="email" id="email" />
          <label for="phone">Phone Number:</label>
          <input
            type="tel"
            id="phone"
            name="phone"
            pattern="[0-9]{3}-[0-9]{2}-[0-9]{3}"
          />
        </div>
        <div id="payment"></div>
      </form>
    </div>
  </body>
</html>
