body {
  background-color: #7adc99;
}
.container {
  display: grid;

  grid-template:
    "a a b b" 70%
    "c c c c" 70%;

  grid-gap: 10%;
  justify-content: center;
}

#sender {
  grid-area: a;
}
#recipient {
  grid-area: b;
}

#payment {
  grid-area: c;
  text-align: center;
}
