<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT"
      crossorigin="anonymous" />
    <link href="css/home.css" rel="stylesheet" />

    <!-- <script src="/js/common.js" type="module"></script> -->
    <script src="js/home.js" type="module"></script>

    <title>Home / Howler</title>
  </head>
  <body>
    <header id="header">
      <nav class="navbar navbar-expand-lg">
        <div class="container-fluid">
          <a
            class="navbar-brand btn btn-primary btn-block"
            id="title"
            href="../hw4/"
            >Howler</a
          >
          <a
            class="btn btn-primary btn-block"
            id="userbutton"
            type="button"
            aria-label="Toggle navigation">
          </a>
        </div>
      </nav>
    </header>
    <main id="maincontent">
      <section>
        <br />

        <div id="new_howl_box" class="form-outline mb-4">
          <div class="form-outline mb-4">
            <input
              class="form-control"
              type="text"
              placeholder="New Howl"
              id="text_box" />
          </div>
          <button
            type="button"
            class="btn btn-primary btn-block mb-4"
            id="postHowl">
            Send
          </button>
        </div>
        <br />
        <div id="howl_list"></div>
      </section>
    </main>
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-u1OknCvxWvY5kfmNBILK2hRnQC3Pr17a+RTT6rIHI7NnikvbZlHgTPOOmMi466C8"
      crossorigin="anonymous"></script>
  </body>
</html>
