<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT"
      crossorigin="anonymous" />
    <title>Document</title>
  </head>
  <body>
    <form
      class="container"
      action="formdata"
      method="post"
      enctype="multipart/form-data">
      <h1>Account Sign In</h1>
      <div class="form-outline mb-4">
        <input type="text" id="form1Example1" class="form-control" />
        <label class="form-label" for="form1Example1">Username</label>
      </div>
      <div class="form-outline mb-4">
        <input type="password" id="form1Example2" class="form-control" />
        <label class="form-label" for="form1Example2">Password</label>
      </div>
      <button type="submit" class="btn btn-success btn-block">Sign in</button>

      <button type="submit" class="btn btn-primary btn-block">
        Create Account
      </button>
    </form>

    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-u1OknCvxWvY5kfmNBILK2hRnQC3Pr17a+RTT6rIHI7NnikvbZlHgTPOOmMi466C8"
      crossorigin="anonymous"></script>
  </body>
</html>
