<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT"
      crossorigin="anonymous" />
    <link href="css/login.css" rel="stylesheet" />

    <!-- <script src="/js/common.js" type="module"></script> -->
    <script src="js/login.js" type="module"></script>
    <title>Howler Sign In</title>
  </head>
  <body>
    <div class="container">
      <br />
      <h1 id="signin_text">Howler Sign In</h1>
      <br />
      <form>
        <div>
          <input
            class="form-control"
            type="text"
            placeholder="Username"
            id="username" />
        </div>
        <br />
        <p>
          <input
            class="btn btn-primary btn-block"
            id="loginButton"
            type="button"
            value="Log In" />
        </p>
      </form>
    </div>

    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-u1OknCvxWvY5kfmNBILK2hRnQC3Pr17a+RTT6rIHI7NnikvbZlHgTPOOmMi466C8"
      crossorigin="anonymous"></script>
  </body>
</html>
