#logo {
  padding-top: 30px;
  width: 200px;
  grid-area: banner;
  padding-left: 10px;
}

.user {
  display: block;
  border-radius: 5px;
  box-sizing: border-box;
  padding-left: 10px;
}
.sidebar {
  box-sizing: border-box;
  position: sticky;
  top: 0;
  width: 50%;
  background-color: rgb(214, 208, 208);
  height: 60%;
  margin-left: -10px;
  margin-top: -50px;
  margin-bottom: -50px;
  bottom: 50%;
}
.user p {
  display: block;
  margin-bottom: -5px;
  margin-top: -5px;
  padding-left: 10px;
}
.course_name {
  font-family: "Courier New", Courier, monospace;
  text-shadow: 0px 0px 1px black;
  background-color: rgb(214, 208, 208);
  padding-left: 10px;
}
@media (min-width: 40em) {
  body {
    grid-template-areas:
      "banner banner"
      "nav main"
      "nav footer";
  }
}

@media (mind-width: 40em) {
  body {
    grid-template-columns: 12em 1fr;
    grid-template-rows: auto 1fr auto;
  }
}

body {
  background-color: lightblue;
  display: grid;
  grid-gap: 1em;
}

nav {
  grid-area: nav;
  margin-bottom: 5px;
  grid-row: span 2;
}
nav div {
  margin-top: 5px;
}

.right_section {
  grid-area: banner;
  width: 50%;
  justify-content: space-between;
  display: flex;
  margin-top: 90px;
}
.messages,
.notifications {
  grid-area: banner;
  display: flex;
  align-items: flex-end;
  flex-direction: row-reverse;
  height: 90%;
}

.notifications_title {
  font-size: 30px;
}

.notifications button {
  height: 15%;
  width: 15%;
}
main {
  grid-area: main;
  margin-left: -300px;
}

.settings_dropdown {
  margin-left: -25px;
}

.main {
  position: relative;
}
.targets {
  position: sticky;
  display: flex;
  width: 30%;
  justify-content: space-between;
  margin-top: 50px;
}

.map img {
  width: 400px;
}

.revenue_by_location {
  display: inline;
  margin-top: 50px;
  margin-left: 1000px;
}
.map {
  display: flex;
  width: 15%;
  justify-content: space-between;
}

.impressions img {
  width: 250px;
  margin-right: 5px;
}

.traffic img {
  width: 250px;
  margin-left: 5px;
}

.line_charts {
  display: inline-flex;
  width: 30%;
  justify-content: space-between;
}

.searchbar {
  grid-area: banner;
  margin-top: 175px;
  margin-left: 25px;
}
#text-field-hero-input {
  width: 500px;
}
header {
  display: flex;
  grid-area: banner;
  grid-column: span 2;
  background-color: rgb(214, 208, 208);
  top: 0;
  margin: -10px;
  position: relative;
  height: 15%;
  margin-left: -350px;
}

.revenue_orders {
  display: flex;
  width: 50%;
  justify-content: space-between;
}

.revenue img {
  width: 450px;
  margin-right: 10px;
}

.orders img {
  width: 350px;
  margin-right: 19px;
}
