#logo {
  padding-top: 30px;
}

.user {
  display: inline-block;

  box-sizing: border-box;
}
.sidebar {
  grid-area: nav;
  box-sizing: border-box;
  position: sticky;
  top: 0;
  width: 100%;
  background-color: rgba(61, 180, 220, 0.985);
  left: 0;
  padding-left: 5px;
  border-radius: 15px;
}

.user p {
  display: block;
  margin-bottom: -5px;
  margin-top: -5px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
#course_title {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  border-bottom: 1px rgba(20, 20, 20, 0.585) solid;
}
@media (min-width: 0em) {
  body {
    grid-template-areas:
      "nav banner"
      "nav main";
  }
}

@media (min-width: 0em) {
  body {
    grid-template-columns: 12em 1fr;
    grid-template-rows: auto;
  }
}

body {
  background-color: #eee;
  display: grid;
  margin: 0;
  height: 100vh;
}

header {
  display: flex;
  grid-area: banner;
  grid-column: span 2;

  justify-content: space-between;
  border-radius: 15px;
  margin-left: 1em;
  padding-bottom: 50px;
}

nav {
  grid-area: nav;
  margin-bottom: 5px;
  grid-row: span 1;
  margin-right: 10px;
}

nav div {
  margin-top: 5px;
}

.right_section {
  grid-area: banner;
  justify-content: space-evenly;
  display: flex;
}

.right_section div {
  padding-left: 15px;
}

.messages,
.notifications {
  grid-area: banner;
  display: flex;
  flex-direction: row-reverse;
}

#verification {
  margin-top: -50px;
  margin-bottom: -50px;
}

.notifications button {
  display: block;
}

main {
  grid-area: main;
  position: relative;
  margin-top: 1em;
  margin-left: 1em;
}

.targets {
  border-radius: 15px;
  background-color: white;
  position: relative;
  display: flex;
  width: 100%;
  justify-content: space-evenly;
  padding-left: 5px;
  padding-right: 5px;
  flex-wrap: nowrap;
  box-shadow: rgba(26, 26, 26, 0.15) 2px 2px 3px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

.map img {
  width: 400px;
}

.revenue_by_location {
  display: block;
  background-color: white;
  border-radius: 15px;
  padding-left: 5px;
  position: relative;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
.map {
  display: flex;
  padding-left: 5px;
}

.line_charts {
  display: inline-flex;
  border-radius: 15px;
  background-color: white;
  padding-left: 5px;
  margin-top: 1em;
  padding-right: 5px;
  width: 100%;
  justify-content: center;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
.impressions img {
  width: 250px;
  margin-right: 5px;
}

.traffic img {
  width: 250px;
}

.searchbar {
  grid-area: banner;

  padding-left: 0.5em;
}

#text-field-hero-input {
  width: 80%;
}

.revenue_orders {
  display: flex;
  width: 100%;
  justify-content: space-between;
  border-radius: 15px;
  background-color: white;
  margin-top: 1em;
  padding-left: 5px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

.revenue img {
  width: 450px;
  margin-right: 10px;
}

.orders img {
  width: 350px;
  margin-right: 19px;
}

.student_button {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.button:hover + .dropdown {
  opacity: 1;
}

.dropdown {
  opacity: 0;
  position: absolute;
  padding: 5px;
  z-index: 10;
  background-color: white;
  border-radius: 15px;
}

.dropdown li {
  text-decoration: none;
  color: inherit;
  list-style-type: none;
}

.dropdown ul {
  padding-inline-start: 0;
}

.dropdown h6 {
  margin: 0;
}

.button {
  position: relative;
}
.navbar_div a {
  text-decoration: none;
  color: inherit;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
