#calculator_body {
  display: grid;
  min-width: 100vh;
  grid-template-columns: repeat(7, 50px);
  grid-template-rows: repeat(6, 50px);
}

#buttons {
  display: grid;
  min-width: 100vh;
  grid-template-columns: repeat(4, 50px);
  grid-template-rows: repeat(5, 50px);
}

#buttons > button {
  font-size: 1rem;
  box-shadow: 0px 1px 4px 0px rgba(0, 0, 0, 0.2);
  border-radius: 10px;
}

.number {
  background-color: rgba(87, 81, 81, 0.678);
}

#decimal {
  background-color: rgba(87, 81, 81, 0.678);
}
#clear {
  background-color: rgba(255, 0, 0, 0.648);
}
#clear-history {
  background-color: rgba(255, 0, 0, 0.648);
}

.operator {
  background-color: orange;
}
#equals {
  background-color: lightblue;
}

#previous {
  visibility: hidden;
}
#answer {
  grid-column: span 4;
  border-radius: 10px;
  font-size: 1.25rem;
  display: flex;
  align-items: flex-end;
  flex-direction: column;
  word-wrap: break-word;
  word-break: break-all;
  justify-content: space-around;
  background-color: rgba(53, 47, 47, 0.893);
  color: white;
  padding-right: 5px;
  padding-bottom: 8px;
}
#answer:hover {
  border: 2px solid #bbb;
  box-shadow: inset 0px 1px 4px 0px rgba(0, 0, 0, 0.2);
}
#equals {
  grid-column: span 4;
}
#history {
  background-color: rgba(53, 47, 47, 0.893);
  grid-row: span 5;
  grid-column: span 3;
  border-radius: 10px;
  font-size: 1rem;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  word-wrap: break-word;
  word-break: break-all;
  justify-content: flex-start;
  padding-left: 5px;
  padding-top: 5px;
  color: white;
}
#history:hover {
  border: 2px solid #bbb;
  box-shadow: inset 0px 1px 4px 0px rgba(0, 0, 0, 0.2);
}

#clear-history {
  border-radius: 10px;
  grid-column: span 3;
  grid-column-end: -1;
}
